table {
    border: 4px solid black;
    padding: 2px; 
    background-color: azure;
    margin: auto;
  }

  td {
    border: 4px solid black;
    padding: 2px;
    text-align: center;
    vertical-align: middle;
    width: 100px;
    height: 100px;
  }

  .button {
    width: 90px;
    height: 90px;
    border: 2px groove black;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(134, 130, 130);
    color: black;
    font-size: 150%;
    font-weight: bold;
    cursor: pointer;
  }

  .cross {
    font-size: 500%;
    font-weight: bold;
    color: red;
    background-color: pink;
  }

  .cross:before {
    content: 'X';
  }

  .zero {
    font-size: 500%;
    font-weight: bold;
    color: blue;
    background-color: aquamarine; 
  }

  .zero:before {
    content: 'O';
  }

