html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  }

table {
  border: 2px solid black;
  padding: 2px; 
  background-color: white;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

td {
  border: 2px solid black;
  border-radius: 5px;
  vertical-align: top;
  align-content: center;
}

textarea {
  resize: none;
  outline: none;
  width: 240px;
  height: 260px;
  -moz-appearance: none;
  border: 0px;
  padding-top: 10px;
  font-size: 110%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  overflow: hidden;
  white-space: normal;
}

.menu-button {
  border: 2px solid black;
  width: 100px;
  height: 100px;
  border-radius: 5px;
  text-align: center;
  background: white;
  color: black;
  font-size: 90%;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 2px;
  word-wrap: break-word;
}

.closeNote {
  height: 20px;
  width: 20px;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  color: black;
  position: relative;
  font-size: 70%;
  font-weight: bold;
  cursor: pointer;
  padding-left: 5px;
  float: right;
}

.pinNote {
  height: 20px;
  width: 20px;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  color: black;
  position: relative;
  font-size: 70%;
  font-weight: bold;
  cursor: pointer;
  padding-left: 3px;
  float: right;
}

.pinNote.pinned {
  background-color: grey;
}


.timerNote {
  height: 20px;
  width: 20px;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  color: black;
  position: relative;
  font-size: 70%;
  font-weight: bold;
  cursor: pointer;
  padding-left: 5px;
  float: right;
}

.timerNote.tOn {
  background-color: grey;
}

.lockNote {
  height: 20px;
  width: 20px;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  color: black;
  position: relative;
  font-size: 70%;
  font-weight: bold;
  cursor: pointer;
  padding-left: 5px;
  float: right;
}

.lockNote.lock {
  background-color: gray;
}

.dataString {
  width: 140px;
  font-weight: bold;
  border: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 2px;
}

input:hover {
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  background-color: lightgrey;
}

button:hover {
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  background-color: lightgrey;
}

.menu {
  width: 100px;
  height: 100%;
}

.main-screen {
  height: 100%;
  overflow: hidden;
}

.note {
  border: 2px solid black;
  background-color: white;
  border-radius: 5px;
  width: 250px;
  height: 300px;
  position: absolute;
  box-shadow: 5px 3px 4px 2px rgb(150, 154, 156);
  padding-left: 15px;
  padding-bottom: 10px;
  padding-right: 5px;
  padding-top: 5px;
}

div.alert {
  border: 5px red;
  box-shadow: 5px 5px 5px 5px red;
}


